#login {
    padding-top: 27.02vh;
    height: 72.98vh;
    text-align: center;
    background: url('../img/bg.jpg') no-repeat;
    background-size: 100% 100%;
}
.tit {
    font-size: 2vw;
    font-weight: bold;
    color: #fff;
}
h3 {
    margin-top: 5.24vh;
    font-size: 1.3125vw;
    font-weight: regular;
    color: #fff;
}
.noid {
    margin-top: 1.8vh;
    font-size: 0.875vw;
    font-weight: regular;
    color: #fff;
}
.reg {
    color: #1ae7af
}
input {
    width: 18.5vw;
    height: 3.89vh;
    border: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#d8d8d8;
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#d8d8d8;
    text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#d8d8d8;
    text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#d8d8d8;
    text-align: center;
}
#userName {
    margin-top: 6.7vh;
}
#passWord {
    margin-top: 1.56vh;
}
#submit {
    margin-top: 1.78vh;
    background: #12c8ff;
    color: #f3f3f3;
    cursor: pointer;
}
.forget {
    margin-top: 3.1vh;
    font-size: 0.875vw;
    font-weight: regular;
}
.fgt {
    color: #fff;
}